<p>
  <b>Name:</b>
  <%=h @template.name %>
</p>

<p>
  <b>Form data:</b>
  <%=h @template.form_data %>
</p>


<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>