/* test */
body { 
  background-color: #ddd; 
  margin-top: 1em;
}

table {
  width: 720px;
}

form pre.form_data {
  background-color: #FF6666;
}

#sidebar {
 padding: 1em;
}

#main {
 background-color: #FFF;
 padding: 1em;
}